doctype html 
head 
    title 
    style
        include ../static/style.css
body 
    nav#navbar 
        div#logo
            img(src="../static/img/logo.avif", alt="")
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Contact]
            li #[a(href="/") Join]
            li #[a(href="/") Support]
    section#firstSection 
        div#container 
            h1 Welcome to the dance academy 
            h2 Lets dance
    section#mission 
        h2 Our Mission 
        div#card 
            div.cards
                h3 Practice session
            div.cards
                h3 Training session
            div.cards
                h3 Coaching
    section#secondSection 
            h1 View our Sponsers 
            div#sp
                img(src="../static/img/sp1.avif", alt="")
                img(src="../static/img/sp2.avif", alt="")
                img(src="../static/img/sp3.avif", alt="")
                img(src="../static/img/sp4.avif", alt="")
    footer#footer
        | Copyright &copy; AbhiDanceAcademy | All Right Reserved 


    script 
        include ../static/script.js 